body {
    /*endrer fargen på bakgrunnen av nettsiden til en turkis-type farge*/
    background-color:aqua;
  }
  
  .header {
    /*Setter bakgrunnsfarge på headeren, i tilleg til å passe på at teksten er i midten av headeren*/
    background-color:rgb(151, 235, 241);
    text-align:center;
    padding:10px;
  }
  
  .topnav {
    /*Setter bakgrunnsfargen på topnav baren*/
    overflow: hidden;
    background-color: #85c3ee;
  }
  
  .topnav a {
    /*Her endrer man linkene i navigsjon baren. Man kan, for eksempel, endre på fargen teksten har*/
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a{
    /*Endrer fargen på linker til den samme fargen som bakgrunnen på nettsiden*/
    color:aqua;
  }
  
  a:hover {
    background-color: #185cbb;
  }
  
  .grid-container {
    /*Her endrer man hvordan hele griden ser ut, for eksemempel, her har jeg endret bakgrunnsfargen til en litt mørk blå, som gjør at alle linkene er synlige*/
      display: grid;
      grid-template-columns: auto;
      background-color: #2167F4;
      padding: 10px;
  }
  .grid-item {
    background-color: #2167f4;
      text-align: center;
      padding-bottom: 100px;
  }