body {
    background-color: lightblue;
    /*dette gjør bakrunsfargen i index.html lyseblå*/
  }
  a:link {
    color:aqua;
  }

  a:hover {
    color:blueviolet;
  }

  a:visited {
    color:limegreen;
  }

  a:active {
    color:blue;
  }
  /*disse gir linkene andre farger når de er inaktive, når noen holder musen over, når de har blit besøkt 