.header {
    background-color: #ffffff;
    text-align: center;
    padding: 23px 20px;
}

.topnav {
    overflow: hidden;
    background-color: #85c3ee;
    padding: 15px 2px;
}

.topnav a {
    float: Left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #b32323;
    color: black;
}
