<!DOCTYPE html>

<html lang="no">

<head>

    <script src="../server.js"></script>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Brukere</title>

</head>

<body onload="klikk">

<h1>Liste over brukere</h1>

<p>Navn: <input type="text" id="navn"></p>
<p>Email: <input type="varchar" id="email"></p>
<p><button id="insert">Registrer</button></p>

<ul>


<%

<!--Går gjennom hvert element (bruker) i 'users'-arrayet-->

users.forEach(user => {

%>

<!-- Oppretter et listeelement for hver bruker, og viser navn og e-post -->

<li><%= user.name %> - <%= user.email %></li>

<%

<!--Avslutter forEach-løkken-->

})

%> </ul>


</body>

</html> 