body {
  background-color:aqua;
}

.header {
  background-color:rgb(151, 235, 241);
  text-align:center;
  padding:10px;
}

.topnav {
  overflow: hidden;
  background-color: #85c3ee;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a{
  color:aqua;
}

a:hover {
  background-color: #185cbb;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2167F4;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

#choice {
    background-color: #52b4cc;
    color: #ffffff;
    border: #000000;
  }

 #play {
    background-color: #52b4cc;
    color: #ffffff;
    border: #000000;
  }

@media screen and (max-width:768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }