body {
    background-color:aqua;
  }
  
  .header {
    background-color:rgb(151, 235, 241);
    text-align:center;
    padding:10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #85c3ee;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: auto;
    background-color: #2970ff;
    gap: 20px;
    padding: 14px;
    border: 1px solid black;
    
}
.grid-item {
    background-color: #2970ff;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 25px;
    text-align: center;
  }

  a{
    color: aqua;
  }

  a:hover {
    background-color:#185cbb;
  }

#dato, #før, #etter, #hjelp {
  font-size: large;
  font-weight: 1000;
}

@media screen and (max-width:768px) {
    .grid-container {
      grid-template-columns: 1fr;
      /*em betyr at man kan endre tekst størelsen relativt til tekststørelsen på nettsiden "font-size: 1,5em" gir for eksempel en tekststørelse som er 1,5 ganger støre enn den var før*/
    }  
}